* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.co-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.co-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.co-2 h1 {
  font-size: 43px;
  line-height: 50px;
  margin: 20px 0;
}

.centered {
  align-items: center;
}

.btn {
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0px;
  border-radius: 30px;
}
a {
  transition: transform 0.5s;
}
a:hover {
  transform: translateY(-5px);
}
.categories {
  margin: 70px 0;
}
.co3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  transition: transform 0.5s;
}
.co3 img {
  width: 100%;
}
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.co3 h2 {
  text-align: center;
}
.co3 p {
  text-align: center;
}
.co3:hover {
  transform: translateY(-5px);
}
.text {
  text-align: center;
  margin: 0 auto 80;
  position: relative;
  line-height: 60px;
  color: #555;
}
.text::after {
  content: "";
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.co4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.co4 img {
  width: 100%;
}
.co4:hover {
  transform: translateY(-5px);
}
.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer h3 {
  color: #fff;
}
.footer-co4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-co4 ul {
  list-style: none;
}
.footer-co4 .picsler {
  list-style-type: none;
}
nav .picsler li {
  display: inline-block;
  padding: 20px;
}
/*---------------------------products exclusives-------------------------*/

.row2 {
  display: flex;
  align-items: right;
  flex-wrap: wrap;
  justify-content: space-around;
}
select {
  border: 1px solid #ffffff;
  padding: 5px;
}
select:focus {
  outline: none;
}
